<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${assessmentToolName}">Assessment Tool Placeholder</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all"/>
</head>
<body>
<div th:each="table : ${tables}">
    <p th:text="${table.checklistName}">Checklist name placeholder</p>
    <table style="border: 1px solid black; border-collapse: collapse;">
        <tr th:each="row : ${table.rows}" style="background-color:darkgrey;" th:attr="style=${row.backgroundColor}">
            <td th:each="cell : ${row.cells}" th:text="${cell.value}" style="border: 1px solid black; border-collapse: collapse;">Onions</td>
        </tr>
    </table>
</div>
</body>
</html>
